ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*We add the background at our page*/

li a{
    display: block;
    width: 200px;
    background-color: #dddddd;
}

/*
display: block; - Displaying the links as block elements makes the whole link area clickable (not just the text), and it allows us to specify the width (and padding, margin, height, etc. if you want)
width: 200px; - Block elements take up the full width available by default. We want to specify a 60 pixels width
*/


li a:hover{
    background-color: #555;
    /*this color is added in the text*/
    color: white;
}


li a.active{
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active){
    background-color: #555;
    color: white;
}
