ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

/*
display: 
    inline; - By default, <li> elements are block elements. 
    Here, we remove the line breaks before and after each list item,
    to display them on one line
*/

a{
    text-decoration: none;
}