ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #dddddd;
}

li{
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

/*
float: 
    left; - Use float to get block elements to float next to each other
display:
    block; - Allows us to specify padding (and height, width, margins, etc. if you want)
padding:
    8px; - Specify some padding between each <a> element, to make them look good
background-color: 
    #dddddd; - Add a gray background-color to each <a> element

Tip: Add the background-color to <ul> instead of each <a> element if you want a full-width background color:
*/

a{
    text-decoration: none;
}